$primary-mat-bgcolor: #32395d;
$primary-mat-color: #ffff;
.login-header {
  text-align: center;
  color: $primary-mat-bgcolor;
}
.mat-new-user {
  margin: auto;
  color: $primary-mat-bgcolor;
}
.mat-login-card {
  width: 50%;
  margin: auto;
  margin-top: 3em;
}
.input-container {
  display: flex;
  width: 100%;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  position: relative;
}

mat-icon {
  position: absolute;
  left: 16px;
  top: 12px;
  color: $primary-mat-bgcolor;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 3em;
  outline: none;
}

.input-field:focus {
  border: 2px solid rgb(24, 34, 44);
}

.btn {
  background-color: $primary-mat-bgcolor;
  color: $primary-mat-color;
  padding: 0.4em 3em;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
a {
  text-decoration: none;
  color: $primary-mat-bgcolor;
  font-weight: 600;
  padding-top: 0.4em;
}
a:hover {
  opacity: 0.7;
}
.btn:hover {
  opacity: 1;
}
